

.content {
    width: 100%;
    height: calc(100% - 49px);
}
/* page title */
.content-add {
    width: 100%;
    height: 60px;
    clear: both;
    padding-top: 16px;
    align-items: center;
    overflow: auto;
}

    .content-add .content-name {
        float: left;
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        font-size: 20px;
        padding-left: 16px;
    }

    .content-add .add-customer {
        float: right;
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #019160;
        border-radius: 4px;
        margin-right: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }

        .content-add .add-customer .add-icon {
            width: 16px;
            height: 16px;
            background-image: url('../../content/icon/add.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .content-add .add-customer .add-text {
            border: none;
            color: #fff;
            background: none;
            font-size: 13px;
            padding-left: 8px;
            font-family: 'GoogleSans-Regular';
        }

.add-customer:hover {
    cursor: pointer;
    background-color: #2FBE8E;
}
/* Box-find */
.content-find {
    width: 100%;
    height: 42px;
}

.find {
    margin-left: 16px;
    float: left;
    width: 220px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: auto;
}

    .find .icon-find {
        width: 16px;
        height: 16px;
        margin-left: 16px;
        margin-right: 8px;
        background-image: url('../../content/icon/search.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .find #search {
        font-size: 11px;
        border: none;
        outline: none;
    }
/* btl change */
.change {
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    float: right;
    margin-right: 16px;
    border-radius: 4px;
}

    .change .change-icon {
        background-image: url('../../content/icon/refresh.png');
        background-size: contain;
        width: 16px;
        height: 16px;
        margin: 12px;
        background-repeat: no-repeat;
    }

    .change:hover {
        background-color: #e9ebee;
    }
/* table */
.content-table {
    clear: both;
    width: 100%;
    height: calc(100% - 187px);
}

table {
    width: calc(100% - 32px);
    border-collapse: collapse;
    margin: 0 16px;
}

table, th, td {
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
    padding: 10px 16px;
}

tr:hover {
    background-color: #e9ebee;
}

table {
}

.content .paging {
    display: flex;
    height: 56px;
    width: inherit;
    line-height: 56px;
    align-items: center;
    background-color: #bbbbbb;
}

.paging-left {
    position: absolute;
    left: 217px;
}

.paging-middle {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    line-height: 56px;
    align-items: center;
}

.paging-right {
    position: absolute;
    right: 33px;
}
