/* body-left */
.body-left {
    width: 200px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #bbbbbb;
}
/* logo */
.logo-box {
    display: flex;
    height: 48px;
    align-items: center;
}

    .logo-box .logo-icon {
        width: 24px;
        height: 24px;
        background-image: url('../../content/img/toggle.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 16px;
    }

    .logo-box .logo-text {
        width: 135px;
        height: 24px;
        background-image: url('../../content/img/cukcuk-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
/* menu */
.menu {
    width: 100%;
    height: calc(100% - 48px);
}

.menu-item {
    width: 100%;
    height: 44px;
    align-items: center;
    display: flex;
}

    .menu-item .menu-icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 16px;
        margin-right: 10px;
    }

.icon-dashboard {
    background-image: url('../../content/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../content/icon/report.png');
}

.icon-buy {
    background-image: url('../../content/icon/dashboard.png');
}

.icon-customer {
    background-image: url('../../content/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../content/icon/setting.png');
}

.menu-item .menu-item-text {
    font-family: 'GoogleSans-Regular';
    font-weight: normal !important;
}

.logo-box:hover {
    cursor: pointer;
}

.menu-item:hover {
    background-color: #e5e5e5;
    color: #ffffff;
    cursor: pointer;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}
/* body-right */
.body-right {
    width: calc(100% - 201px);
    height: 100vh;overflow: auto;
}
/* header */
.header {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #bbbbbb;
    line-height: 48px;
    font-size: 15px;
    align-items:center;

}

    .header .header-left {
        float: left;
        width: 160px;
        height: 32px;
        margin-left: 16px;
    }

        .header .header-left .store-name {
            font-weight: bold;
            font-size: 15px;
            border: none;
            outline: none;
        }

.store-name:hover {
    cursor: pointer;
    
}

.header .account {
    float: right;
    display: flex;
    padding-right: 16px;
    margin-top: 9px;
    line-height:30px;
}

    .header .account .account-avatar {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../content/icon/avatar-default.png');
    }

    .header .account .account-name {
        width: 110px;
        height: 30px;
        font-size: 13px;
        padding-left: 10px;
        align-items:center;
       
    }

    .header .account .account-option-icon {
        width: 20px;
        height: 20px;
        background-image: url('../../content/icon/option.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
        margin-top:5px;
        
    }

.account:hover {
    cursor: pointer;
}
