
.content {
    width: 100%;
    height: calc(100% - 49px);
}

.content-add {
    width: 100%;
    height: 60px;
    clear: both;
    padding-top: 16px;
    align-items: center;
    overflow: auto;
}
/*button thêm mới nhân viên*/
.btn-add .text-add {
    border: none;
    color: #fff;
    background: none;
    font-size: 13px;
    padding-left: 8px;
    font-family: 'GoogleSans-Regular';
}

.btn-add:hover {
    cursor: pointer;
    background-color: #2FBE8E;
}
/* Box-find */
.content-find {
    width: 100%;
    height: 42px;
}

   
#search {
    font-size: 11px;
    border: none;
    outline: none;
}

tr:hover {
    background-color: #e9ebee;
}
.grid-customer {
    
    overflow:auto;
}
