/*Tieu de cua trang*/
.page-title {
    float: left;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    padding-left: 16px;
}

.text-align-right{
    text-align:right;
}
.text-align-left{
    text-align:left;
}
.text-align-center{
    text-align:center;
}