.grid {
    clear: both;
    height: calc(100% - 174px);
    position: relative;
}

.grid-scroll {
    overflow: auto;
}

.grid table {
    width: 100%;
    padding-left: 16px;
}

table th, td {
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
    padding: 10px 16px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* table */

