.content-find .input {
    margin-left: 16px;
    float: left;
    width: 220px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: auto;

}
input {
    border: none;
    outline: none;
}
input::-webkit-input-placeholder {
    font-size: 11px;
    color: #bbbbbb;
}
.i-info {
    width: 250px;
    height: 30px;
}