/* body-left */
.body-left {
    width: 200px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #bbbbbb;

}
/* logo */
.logo-box {
    display: flex;
    height: 48px;
    width:inherit;
    align-items: center;
}

    .logo-box .logo-icon {
        width: 24px;
        height: 24px;
        background-image: url('../../content/img/toggle.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 16px;
    }

    .logo-box .logo-text {
        width: 135px;
        height: 24px;
        background-image: url('../../content/img/cukcuk-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
    .logo-box:hover {
        cursor: pointer;
    }
/* body-right */
.body-right {
    width: calc(100% - 201px);
    height: 100vh;
    overflow: auto;
   
}
