@import url('m-dialog.css');

#m-dialog {
    /*display: none;*/
    border: 3px solid black;
}

    #m-dialog .dialog-modal {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 999;
        background-color: black;
        opacity: .5
    }

    #m-dialog .dialog-content {
        position: absolute;
        width: 800px;
        height: 472px;
        top: calc(50% - 236px);
        left: calc(50% - 400px);
        z-index: 1000;
        background-color: #fff;
    }

    #m-dialog .dialog-header {
        width: 752px;
        margin: auto;
        height: 40px;
        line-height: 40px;
    }

        #m-dialog .dialog-header .dialog-header-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        #m-dialog .dialog-header .dialog-header-close {
            position: absolute;
            top: 0;
            right: 0;
        }

            #m-dialog .dialog-header .dialog-header-close button {
                outline: none;
                border: none;
                background-color: #ffffff;
                width: 40px;
                height: 40px;
                font-size: 20px;
            }

                #m-dialog .dialog-header .dialog-header-close button:hover {
                    background-color: #ccc;
                    cursor: pointer;
                }


    #m-dialog .dialog-body {
        width: 752px;
        margin: auto;
        height: calc(100% - 65px);
    }

.dialog-body .dialog-top {
    display: flex;
    height: 200px;
}

    .dialog-body .dialog-top .dialog-body-left {
        width: 30%;
        height: 200px;
    }

.dialog-top .dialog-body-left #d-avartar {
    width: 150px;
    margin: auto;
    height: 150px;
    border: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    border-radius: 50%;
    background-image: url('/content/img/default-avatar.jpg');
}

.dialog-top .dialog-body-left #d-avartar-text {
    text-align: center;
    max-width: 200px;
}



.dialog-top .dialog-body-right {
    width: 70%;
    height: 200px;
    display: flex;
}

    .dialog-top .dialog-body-right .m-row-left {
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .dialog-top .dialog-body-right .m-row-right {
        width: 50%;
        height: 100%;
    }

.row-item {
    padding: 10px 0;
}

    .row-item .m-control-gender {
        line-height: 32px;
    }

    .row-item #check-follow {
        line-height: 68px;
    }

.dialog-body .dialog-center {
    width: 100%;
    height: 132px;
    display: flex;
}

.dialog-center .m-row-left {
    width: 65%;
    height: 132px;
}

.dialog-center .m-row-right {
    width: 35%;
    height: 132px;
}

.dialog-bottom {
    width: 100%;
    height: 61px;
}

.dialog-footer {
    width: 100%;
    height: 40px;
    background-color: #bbbbbb;
    line-height: 40px;
    align-items: center;
}
.feature {
    width: 60px;
    height: 34px;
    float: right;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    margin-right: 30px;
    background-size: contain;
    outline: none;
}

    .feature:hover {
        cursor: pointer;
        background-color: #2FBE8E;
    }

.dialog-center .m-row-left .m-control {
    width: 477px;
}

.dialog-bottom .m-row-left .m-control {
    width: 739px;
}

.m-control {
    width: 250px;
    height: 32px;
   
    border-radius:5px;
}
.dialog-body input {
    width: inherit;
    height: inherit;
    border: 1px solid #e5e5e5;
}
.c-info {
    width: 256px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.d-info {
    width: 253px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
input.border-red {
    border: 1px solid red;
}