body {
    display: flex;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
}

.heading {
    font-family: GoogleSans-Bold;
    font-size: 15px;
    color: #000000;
}

.title {
    font-family: GoogleSans-Bold;
    font-size: 20px;
    color: #000000;
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../../content/font/GoogleSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: url('../../content/font/GoogleSans-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../content/font/GoogleSans-Bold.otf') format('opentype');
}
