.btn-add {
    float: right;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    margin-right: 16px;
    padding-right: 16px;
    padding-left: 16px;
}
/* button refresh danh sach */
.btn-feature {
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    float: right;
    margin-right: 16px;
    border-radius: 4px;
}

    .btn-feature:hover {
        background-color: #e9ebee;
    }
